body {
  @mixin transition color, 2s, ease-in;
}

header {
  @mixin viewport-min {
    background-color: red;
  }
}

.page {
  display: flex;
  background-color: salmon;
  color: pink;
  font-size: var(--font-size);

  &__header {
    color: red;
  }

  &__blockqoute {
    color: red;
    font-size: 10rem;
  }
}
